<div class="col-sm-4">
    <h1>Practitioners</h1>
    <table>
        <tr>
            <th>Identifier</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Qualification</th>
            <th>Organization</th>
            <th><input type="button" (click)="createModal()" value="Create"></th>
        </tr>
        <tr *ngFor="let practitioner of practitioners">
            <td>{{practitioner.identifier}}</td>
            <td>{{practitioner.name}}</td>
            <td>{{practitioner.surname}}</td>
            <td>{{practitioner.qualification}}</td>
            <td>{{practitioner.organization.name}}</td>
            <td><input type="button" (click)="detailsModal(practitioner.practitionerId)" value="Details"></td>
            <td><input type="button" (click)="editModal(practitioner.practitionerId)" value="Edit"></td>
            <td><input type="button" (click)="deleteModal(practitioner.practitionerId, practitioner.name)" value="Delete"></td>
        </tr>
    </table>
</div>