<h2 mat-dialog-title>Create practitioner</h2>
<mat-dialog-content class="mat-typography">

    <form>
        <div class="row">
            <div class="col">
                <label>Identifier:</label>
            </div>
            <div class="col">
                <input type="text" name="identifier" [(ngModel)]="request.identifier"
                    value="{{patient.identifier}}"><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Name:</label>
            </div>
            <div class="col">
                <input type="text" name="name" [(ngModel)]="request.name" value="{{patient.name}}"><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Surname:</label>
            </div>
            <div class="col">
                <input type="text" name="surname" [(ngModel)]="request.surname" value="{{patient.surname}}"><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Gender:</label>
            </div>
            <div class="col">
                <select name="gender" [(ngModel)]="request.gender">
                    <option *ngFor="let gender of genderEnums" [selected]="gender === patient.gender">
                        {{gender}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Birth date:</label>
            </div>
            <div class="col">
                <input type="date" value="{{patient.birthDate}}" (change)="setBirthDate($event)" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Address:</label>
            </div>
            <div class="col">
                <input type="text" name="address" [(ngModel)]="request.address" value="{{patient.address}}"><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Phone:</label>
            </div>
            <div class="col">
                <input type="text" name="phone" [(ngModel)]="request.phone" value="{{patient.phone}}"><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Email:</label>
            </div>
            <div class="col">
                <input type="email" name="email" [(ngModel)]="request.email" value="{{patient.email}}"><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Marital status:</label>
            </div>
            <div class="col">
                <select name="maritalStatus" [(ngModel)]="request.maritalStatus">
                    <option *ngFor="let status of maritalStatusEnums" [selected]="status === patient.maritalStatus">
                        {{status}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Organization:</label>
            </div>
            <div class="col">
                <select name="organization" [(ngModel)]="request.organizationId">
                    <option *ngFor="let org of organizations" [value]="org.organizationId"
                        [selected]="org.organizationId === patient.organization?.organizationId">
                        {{org.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Care provider:</label>
            </div>
            <div class="col">
                <select name="careProvider" [(ngModel)]="request.primaryCareProviderId">
                    <option *ngFor="let practitioner of practitioners" [value]="practitioner.practitionerId"
                        [selected]="practitioner.practitionerId === patient.primaryCareProvider?.practitionerId">
                        {{practitioner.name}} {{practitioner.surname}}
                    </option>
                </select>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="updatePatient()">Create</button>
</mat-dialog-actions>